body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.bigHeader{
  font-family: Indie Flower, serif;
  font-size: 56px;
  text-align: center;
}
.regular{
  font-family:'Open Sans', sans-serif;
  text-align: center;
  font-size: 20px
}

.container{
    margin:auto;
    padding:10px;
    display: block;
   }
